.h-100vh{
    height: 100vh;
}
.main-logo{
    display: inline;
    width: auto;
    height: 40px;
}
.main-logo-small{
    width: auto;
    height: 50px;
}
.ul{
    list-style-type: none;
}
.li{
    color: var(--text-color);
    font-weight: 400;
    margin-right: 20px;
    padding: 0.3em 0.5em;
    cursor: pointer;
}
.a{
    text-decoration: none;
    color: inherit;
}
.pointer{
    cursor: pointer;
}
.a:hover{
    color: inherit;
}

.ul li:hover{
    color: white;
}
.mobile-nav{
    border-top: 2px solid var(--next-dark-blue);
    position: fixed;
    bottom: 0;
}
.mobile-nav-icon{
    width: 1.2rem;
    height: 1.2rem;
}

.selected{
    color: white;
    background-color: var(--dark-pink);
}
.bordered{
    border-top: 1px solid #484a54;
}
.coloured{
    color: #838590;
}
.selected-mobile{
    color: var(--text-color);
    border-top: 3px solid var(--dark-pink);
}

.hero-image{
    width: 50rem;
    height: auto;
}
.text-box{
    margin-right: 1rem;
    left: 2rem;
    position: absolute;
    z-index: 10;
}

.role-text{
    color: var(--dark-pink);
    font-size: 2.5rem;
    font-weight: bold;
}
.caption{
    font-weight: 400;
    font-size: 1rem;
}
.butn{
    color: #f7f7f7;
    background-color: var(--dark-pink);
    border: 0px;
    margin-right: 2rem;
    padding: 0.5em 1em;
    font-size: 1rem;
}
.butn-outline{
    color: var(--dark-pink);
    border: 1px solid var(--dark-pink);
    background: transparent;
    font-size: 1rem;
    padding: 0.5em 1em;
}
.height-home {
    height: 100vh;
}
@media screen and (min-width:992px){
    .height-home{
        padding-top: 6rem;
        height: auto;
    }
}
.line-div{
    width: 4rem;
    height: 4px;
    background-color: var(--dark-pink);
}
.section-heading{
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.2rem;
}
.arrow-button{
    background-color: #383D5E;
    color: #f7f7f7;
    border: 0px;
    padding: 0.5em 1em;
}
.arrow-button:hover{
    background-color: #545a7e;
}
.butn-icon{
    width: 1.2rem;
    height: 1.2rem;
}
.text-width{
    width: 90%;
}
@media screen and (min-width:992px) {
    .text-width{
        width: 75%;
    }
    .padding-heavy{
        padding-top: 14rem;
    }
}
.line-small-div{
    width: 2rem;
    height: 4px;
    background-color: var(--dark-pink);
}
.floating {
	animation-name: floating;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}
.form-input{
    background-color: var(--dark-blue);
    border: 0px;
    border-left: 3px solid #383D5E;
    outline: none;
    color: #f7f7f7;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.padding-bottom{
    padding-bottom: 10rem;
}