.h-100vh{
    height: 100vh;
}
.main-logo{
    display: inline;
    width: auto;
    height: 40px;
}
.ul{
    list-style-type: none;
}
.li{
    color: var(--text-color);
    font-weight: 400;
    margin-right: 20px;
    padding: 0.3em 0.5em;
    cursor: pointer;
}
.a{
    text-decoration: none;
    color: inherit;
}
.a:hover{
    color: inherit;
}
.selected{
    color: white;
    background-color: var(--dark-pink);
}
.ul li:hover{
    color: white;
    background-color: var(--next-dark-blue);
}
.mobile-nav{
    border-top: 2px solid var(--next-dark-blue);
    position: fixed;
    bottom: 0;
}
.mobile-nav-icon{
    width: 1.2rem;
    height: 1.2rem;
    color: inherit;
}
